@import 'common'

#background
	background url('../images/knitting250px/knitting250px.png') repeat
	position absolute
	wh 100%

#content
	position relative
	text-align center
	top 30%
	width 100%

#contentWrapper
	height 100%
	left 10%
	position relative
	width 80%

#subtitle
	font-family parisish
	font-size 30px

#title
	font-family parisish
	font-size 80px