@import 'common'

#background
	background url('../images/knitting250px/knitting250px.png') repeat
	position absolute
	wh 100%

#content
	position relative
	text-align center
	top 10%
	width 100%

#contentWrapper
	height 100%
	left 10%
	position relative
	width 80%

#currentSubject
	border 1px solid color1
	height 100%
	left 0px
	padding-top 2px
	position absolute
	text-align center
	top 0px
	width 100%

#facebookContainer
	display inline-block

#generateButton
	position relative

#smartalec
	width 15%

#smartalecContainer
	padding-top 5px

.subjectOption
	border-bottom 1px solid color 1
	height 20px
	padding-top 2px
	text-align center
	width 100%

.subjectOption:hover
	background-color rgba(0,0,0,0.1)

#subjectOptions
	background url('../images/knitting250px/knitting250px.png') repeat
	border 1px solid color1
	display none
	left 0px
	max-height 150px
	overflow-x hidden
	overflow-y auto
	position absolute
	top 0px
	width 100%
	z-index 1

#subjectSelect
	display inline-block
	height 20px
	margin auto
	position relative
	width 160px

#subtitle
	font-family parisish
	font-size 30px

#title
	font-family parisish
	font-size 80px

#twitterContainer
	display inline-block