doctype html
html
	head
		link(rel="stylesheet", href="css/home.css")
		script(src="js/jquery.js")
		script(src="js/data.js")
		script(src="js/home.js")
	body
		#background
			#contentWrapper
				#topBar
				#content
					select#subject
						// option(name='economics') economics
						option(name='chemistry') chemistry
						option(name='foodandbeverage', selected='selected') food and beverage
						option(name='english') english
						option(name='math') math
						option(name='topical') topical
					button#generateButton Get sentence
					#sentence