doctype html
html
	head
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400italic,400")
		link(rel="stylesheet", href="css/home.css")
		script(src="js/jquery.js")
		script(src="js/data.js")
		script(src="js/home.js")
	body
		#background
			#contentWrapper
				#content
					#title
						i The Pretentious Partygoer
					#subtitle Impress friends, family, and colleagues with well-informed musings on a variety of disciplines.
					br
					select#subject
						option(name='chemistry') chemistry
						option(name='foodandbeverage', selected='selected') food and beverage
						option(name='english') english
						option(name='math') math
						option(name='topical') topical
					button#generateButton Get sentence
					br
					br
					#sentence