doctype html
html
	head
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400italic,400")
		link(rel="stylesheet", href="css/home.css")
		link(rel='icon', type='image/png', href='images/favicon.png')
		script(src="js/jquery.js")
		script(src="js/data.js")
		script(src="js/home.js")

		script(src="//connect.facebook.net/en_US/all.js#xfbml=1")

	title Sound Smart

	body
		#fb-root
		#background
			#contentWrapper
				#content
					#title
						i Sound Smart
					#subtitle Impress friends, family, and colleagues with well-informed musings on a variety of disciplines.
					br
					span.subjectSentence Generate a new &nbsp
					#subjectSelect
						#currentSubject
						#subjectOptions
							.subjectOption(value='arthistory') Art History
							.subjectOption(value='chemistry') Chemistry
							.subjectOption(value='computerscience') Computer Science
							.subjectOption(value='earthscience') Earth Science
							.subjectOption(value='english') English
							.subjectOption(value='foodandbeverage') Food and Beverage
							.subjectOption(value='math') Math
							.subjectOption(value='opera') Opera
							.subjectOption(value='philosophy') Philosophy
							.subjectOption(value='starwars') Star Wars
							.subjectOption(value='topical') Topical
							.subjectOption(value='credits') Credits
					span.subjectSentence &nbsp sentence.
					button#generateButton Go.
					br
					br
					#sentence
					#smartalecContainer
						img#smartalec(src='images/smartalec.png')
					br
					br
					br
					//- #facebookContainer
					//- 	.fb-like(data-href="http://soundsmart.me/", data-width="100", data-layout="standard", data-action="like", data-show-faces="false", data-share="true")
					//- #twitterContainer
					//- 	a#tweet.twitter-share-button(href="https://twitter.com/share", data-url="http://soundsmart.me", data-hashtags="soundsmart") Tweet
					br
					br